.row {
  display: flex;
  justify-content: space-around;
  margin-right: -20px;
  .button {
    width: 200px;
  }
}

.pt--20 {
  padding-top: 20px; 
}

.container {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center
}

.error-message {
  margin-left: 20px;
  color: red;
}

.form {
  width: 100%;
  margin-bottom: 20px;
}

.social__network--button {
  display: inline-block;
  background: white;
  color: #444;
  width: 200px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  margin-bottom: 2em;
  &:hover {
    cursor: pointer;
  }
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background-size: 42px 42px;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.icon {
  &--google {
    background: url('/assets/google_icon.png') transparent 5px 50% no-repeat;
    background-size: 42px 42px;
  }
  &--facebook {
    background: url('/assets/facebook_icon.png') transparent 5px 50% no-repeat;
    background-size: 42px 42px;
  }
}
span.button--text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}
