<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form class="form" [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" autocomplete="username" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="errorMessageService.showControlValidationError(loginForm, 'email')">
        <span>
          {{
            errorMessageService.getErrorMessage(loginForm, 'email')
          }}
        </span>
      </div>
    
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" autocomplete="current-password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="errorMessageService.showControlValidationError(loginForm, 'password')">
        <span>
          {{
            errorMessageService.getErrorMessage(loginForm, 'password')
          }}
        </span>
      </div>
 
      
      <div class="row pt--20">
        <ion-button color="success" [disabled]="loginForm.invalid">Login</ion-button>
      </div>
    </form>
    <div class="row">
      <div class="social__network--button" (click)="loginGoogle()">
        <span class="icon icon--google"></span>
        <span class="button--text">Sign in with Google</span>
      </div>
    </div>
    <div class="row">
      <a href="javascript:void(0);" routerLink="./register">
        Are you not registered yet?
      </a>
    </div>
  </div>
</ion-content>
