<ion-header>
  <ion-toolbar>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form class="form" [formGroup]="registrationForm">
      <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" autocomplete="username" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="errorMessageService.showControlValidationError(registrationForm, 'email')">
        <span>
          {{
            errorMessageService.getErrorMessage(registrationForm, 'email')
          }}
        </span>
      </div>
    
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" autocomplete="current-password" formControlName="password"></ion-input>
      </ion-item>
      <div class="error-message" *ngIf="errorMessageService.showControlValidationError(registrationForm, 'password')">
        <span>
          {{
            errorMessageService.getErrorMessage(registrationForm, 'password')
          }}
        </span>
      </div>
      <div class="row pt--20">
        <ion-button color="success" [disabled]="registrationForm.invalid">Register</ion-button>
      </div>
    </form>
  </div>
</ion-content>
